#### Answer the following questions by providing Python code:

# 1).  In the group A, students' heights are:

182.5 <br>
187.9 <br>
196 <br>
170.8 <br>
157.2 <br>

Calculate the mean height by using a for loop.

In [ ]:
#calcule du mean d'une liste :
A = [182.5,187.9,196,170.8,157.2]
b = 0
mean1 =0
for i in range(len(A)):
  b=b+A[i]
mean1=b/len(A)
print('mean=',mean1)

mean= 178.88000000000002

#2).  In the group B, students' heights are:

182.5 <br>
187.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
B = [182.5,187.9,161.7,160.1,161.8,169.2]
x = 0
mean = 0
for i in range(len(B)):
  x=x+B[i]
mean=x/len(B)
print('mean=',mean)

mean= 170.53333333333333

# 3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
c=A+B
sum=0
mean2=0
for i in range (len(c)):
  sum=sum+c[i]
mean2=sum/len(c)
mean2

174.32727272727274

#4). Sort the heights of the group AB.

In [ ]:

d=max(c)
d

196

In [ ]:
type([c[1]])

list

#5). The class D is formed with students with the height less than 165.

In [ ]:
d =[]
for i in range (len(c)):
  if c[i]<165:
    d=d+[c[i]]
d

[157.2, 161.7, 160.1, 161.8]

#6). Make a list of unique elements of A+B.

In [ ]:
E = list(set(c))
E

[160.1, 161.7, 161.8, 196, 169.2, 170.8, 182.5, 187.9, 157.2]

# 7). Create a dictionary 'dict', the keys are integers and values belongs to the list A.

dictA = [ 0 :182.5, 1:187.9, 2:196, 3: 170.8,4 :157.2]

In [ ]:
dictA={ '0' :182.5, '1':187.9, '2':196, '3': 170.8,'4' :157.2}

In [ ]:
dictA['0']

182.5